<div class="container">
  <h2>Lifecycle Hooks Time Stamps</h2>
  <p><strong>Constructor is called at:</strong> {{ constructorTime }}</p>
  <p><strong>ngOnInit is called at:</strong> {{ ngOnInitTime }}</p>
  <div>
    <ng-content></ng-content>
  </div>
  <!-- <p><strong>ngDoCheck is called at:</strong> {{ ngDoCheckTime }}</p>
  <p>
    <strong>ngAfterViewInit is called at:</strong> {{ ngAfterViewInitTime }}
  </p>
  <p>
    <strong>ngAfterViewChecked is called at:</strong>
    {{ ngAfterViewCheckedTime }}
  </p>
  <p>
    <strong>ngAfterContentInit is called at:</strong>
    {{ ngAfterContentInitTime }}
  </p>
  <p>
    <strong>ngAfterContentChecked is called at:</strong>
    {{ ngAfterContentCheckedTime }}
  </p>
  <p>
    <strong> {{ ngOnDestroyTime }}</strong
    >is called.
  </p> -->
</div>
