<!-- Day 1 -->

<!-- <app-employee-list></app-employee-list>
<app-lifecycle-events></app-lifecycle-events> -->

<!-- Day 2 -->

<!-- <div class="p-2">
  <div class="border border-danger">
    <app-no-encapsulation></app-no-encapsulation>
  </div>

  <div class="border border-success mt-2">
    <app-emulated-encapsulation></app-emulated-encapsulation>
  </div>
  <div class="border border-primary-subtle mt-2">
    <app-shadow-dom-encapsulation></app-shadow-dom-encapsulation>
  </div>
</div>
<br /> -->

<!-- Day 3 -->

<!-- <h2>Parent Child Communication With MetaData</h2>
Parent Component : <input type="text" #PComponent (keyup)="(0)" />
<app-child-meta [PData]="PComponent.value"></app-child-meta>

<h2>Parent Child Communication Using Input Decorator</h2> -->
<!-- <app-hero></app-hero> -->
<app-product-list></app-product-list>
<app-single-slot-projection>
  <p>Is content projection cool?</p>
</app-single-slot-projection>

<app-multi-slot-projection>
  <p question>Is content projection cool?</p>
  <p>Let's learn about content projection!</p>
</app-multi-slot-projection>
